@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg_image{
  background-image: url("https://img.freepik.com/free-vector/tiny-people-searching-business-opportunities_74855-19928.jpg?w=996&t=st=1712382650~exp=1712383250~hmac=1519251dc96ec6aa02ea8c30dbf1dd9fb8b64157563c74cdfc4082d278a4b3c7");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.2;
  
}
.bg_image_signup{
  background-image: url("https://img.freepik.com/free-vector/recruit-agent-analyzing-candidates_74855-4565.jpg?size=626&ext=jpg&ga=GA1.1.1879900221.1696061664&semt=sph");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.2;
}
.bg_image_contact{
  background-image: url("https://img.freepik.com/free-vector/tiny-people-searching-business-opportunities_74855-19928.jpg?w=1060&t=st=1713940125~exp=1713940725~hmac=7859cd339a9af67f99a3c3f0aa7026524a8fbd521112f7de11cff93f82e7abcf");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.2;
}
.label-style {
  font-size: 14px;
  font-weight: bold;
  color: #333; /* Adjust color as needed */
}

.form-style {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc; /* Border color */
  border-radius: 4px;
  font-size: 14px;
  color: #555; /* Text color */
}

.form-style:focus {
  outline: none;
  border-color: #007bff; /* Border color when focused */
}
.scale-in-center {
	-webkit-animation: scale-in-center 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530)  both;
	        animation: scale-in-center 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530)  both;
}/* ----------------------------------------------
 
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
  /* loader css */
  
.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

